.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.**.js
vsc-extension-quickstart.md
**/tsconfig*.json
**/.eslintrc.json
**/*.map
**/*.ts
doc/**
dist/core/**
test/**
**.vsix